.page.theme_dark {
  --bg-img: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --subtitle-text-color: #000028;
  --title-color: #ff0070;
  --btn-hover-color: rgba(255, 0, 112, 0.4);
  --btn-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --main-shadow-color: #ff0070;
}

.page.theme_dark .rec {
  display: block;
}
